# Techno-Economic Analysis Example

### TEA objects can perform cash flow analysis on a System object

Create a TEA object from a system:

In [1]:
from lipidcane import lipidcane_sys
from biosteam import find, TEA

lipidcane_sys.simulate()
lipidcane_tea = TEA(lipidcane_sys)
lipidcane_tea.show() # Show summary of results

TEA: Lipid cane system
 NPV: None
 ROI: None
 PBP: None

TEA objects have a long list of options for cash flow analysis:

In [2]:
lipidcane_tea.options

{'Lang factor': 4.37,
 'Operating days': 330,
 'IRR': 0.15,
 'Wage': 50000.0,
 'Year': None,
 'Employees': 50,
 'Fringe benefits': 0.4,
 'Income tax': 0.35,
 'Property tax': 0.001,
 'Property insurance': 0.005,
 'Duration': 20,
 'Supplies': 0.2,
 'Mantainance': 0.01,
 'Administration': 0.005,
 'Working capital': 0.05,
 'Startup cost': 0,
 'Delivery': 0,
 'Land': 0,
 'Depreciation': 'MACRS7',
 'Startup schedule': (0.4, 0.6)}

Update options and run cash flow analysis:

In [3]:
options = {'IRR': 0.175,
           'Lang factor': 3.00,
           'Operating days': 200,
           'Year': 2020,
           'Employees': 50,
           'Administration': 0.005,
           'Duration': 20}
lipidcane_tea.options.update(options)
lipidcane_tea() # run cash flow analysis
lipidcane_tea.show()

TEA: Lipid cane system
 NPV: 1.32e+07 USD at 17.5% IRR
 ROI: 0.143 1/yr
 PBP: 4.98 yr

General results are stored as a SmartBook:

In [4]:
lipidcane_tea.results.table()

                           Units               Value
Fixed capital investment     USD            1.83e+08
Working capital              USD            9.15e+06
Total capital investment     USD            1.92e+08
Depreciation              USD/yr            9.15e+06
Utility cost              USD/yr           -1.67e+06
Material cost             USD/yr  62340482.099124804
Sales                     USD/yr  120049664.05610332
Labor                     USD/yr             2.5e+06
Annual operating cost     USD/yr            7.77e+07
Net present value            USD            1.32e+07
Return on investment        1/yr  0.1434556445546007
Pay back period               yr                4.98

The complete cashflow analysis is stored as a DataFrame object:

In [5]:
lipidcane_tea.cashflow

,Depreciable capital,Working capital,Depreciation,Annual operating cost (excl. depr.),Sales,Net earnings,Cash flow,Discounted cash flow,Cumulative cash flow
2020,7.32e+07,0,0,0,0,0,-7.32e+07,-7.32e+07,-7.32e+07
2021,1.1e+08,0,0,0,0,0,-1.1e+08,-9.34e+07,-1.67e+08
2022,0,9.15e+06,2.61e+07,6.85e+07,1.2e+08,1.65e+07,3.35e+07,2.43e+07,-1.42e+08
2023,0,0,4.48e+07,6.85e+07,1.2e+08,4.38e+06,4.92e+07,3.03e+07,-1.12e+08
2024,0,0,3.2e+07,6.85e+07,1.2e+08,1.27e+07,4.47e+07,2.34e+07,-8.86e+07
2025,0,0,2.28e+07,6.85e+07,1.2e+08,1.86e+07,4.15e+07,1.85e+07,-7e+07
2026,0,0,1.63e+07,6.85e+07,1.2e+08,2.29e+07,3.92e+07,1.49e+07,-5.51e+07
2027,0,0,1.63e+07,6.85e+07,1.2e+08,2.29e+07,3.92e+07,1.27e+07,-4.24e+07
2028,0,0,1.63e+07,6.85e+07,1.2e+08,2.29e+07,3.92e+07,1.08e+07,-3.16e+07
2029,0,0,8.16e+06,6.85e+07,1.2e+08,2.82e+07,3.64e+07,8.52e+06,-2.31e+07
2030,0,0,0,6.85e+07,1.2e+08,3.35e+07,3.35e+07,6.68e+06,-1.65e+07
2031,0,0,0,6.85e+07,1.2e+08,3.35e+07,3.35e+07,5.68e+06,-1.08e+07
2032,0,0,0,6.85e+07,1.2e+08,3.35e+07,3.35e+07,4.84e+06,-5.93e+06
2033,0,0,0,6.85e+07,1.2e+08,3.35e+07,3.35e+07,4.12e+06,-1.82e+06
2034,0,0,0,6.85e+07,1.2e+08,3.35e+07,3.35e+07,3.5e+06,1.69e+06
2035,0,0,0,6.85e+07,1.2e+08,3.35e+07,3.35e+07,2.98e+06,4.67e+06
2036,0,0,0,6.85e+07,1.2e+08,3.35e+07,3.35e+07,2.54e+06,7.21e+06
2037,0,0,0,6.85e+07,1.2e+08,3.35e+07,3.35e+07,2.16e+06,9.37e+06
2038,0,0,0,6.85e+07,1.2e+08,3.35e+07,3.35e+07,1.84e+06,1.12e+07
2039,0,-9.15e+06,0,6.85e+07,1.2e+08,3.35e+07,4.26e+07,1.99e+06,1.32e+07

Solve for the price of a stream at the break even point:

In [6]:
feed = find('Lipid cane')
price = lipidcane_tea.solve_price(feed)
print(f'Lipid cane price = {price:.3g} USD/kg\n' )

Lipid cane price = 0.0373 USD/kg

Solve for the IRR at the break even point:

In [7]:
feed.price = 0.035
IRR = lipidcane_tea.solve_IRR()
print(f'IRR = {IRR:.3g}')

IRR = 0.188