# Techno-Economic Analysis Example

### TEA objects can perform cash flow analysis on a System object

Create a TEA object from a system:

In [9]:
from lipidcane import lipidcane_sys
from biosteam import find, TEA

lipidcane_sys.simulate()
lipidcane_tea = TEA(lipidcane_sys)
lipidcane_tea.show() # Show summary of results

TEA: Lipid cane system
 NPV: None
 ROI: None
 PBP: None

TEA objects have a long list of options for cash flow analysis:

In [10]:
lipidcane_tea.options

{'Lang factor': 4.37,
 'Operating days': 330,
 'IRR': 0.15,
 'Wage': 50000.0,
 'Year': None,
 'Employees': 50,
 'Fringe benefits': 0.4,
 'Income tax': 0.35,
 'Property tax': 0.001,
 'Property insurance': 0.005,
 'Duration': 20,
 'Supplies': 0.2,
 'Mantainance': 0.01,
 'Administration': 0.005,
 'Working capital': 0.05,
 'Startup cost': 0,
 'Delivery': 0,
 'Land': 0,
 'Depreciation': 'MACRS7',
 'Startup schedule': (0.4, 0.6)}

Update options and run cash flow analysis:

In [11]:
options = {'IRR': 0.175,
           'Lang factor': 3.00,
           'Operating days': 200,
           'Year': 2020,
           'Employees': 70,
           'Administration': 0.01,
           'Duration': 20}
lipidcane_tea.options.update(options)
lipidcane_tea() # run cash flow analysis
lipidcane_tea.show()

TEA: Lipid cane system
 NPV: 1.81e+07 USD at %18 IRR
 ROI: 0.18 1/yr
 PBP: 4.19 yr

General results are stored as a SmartBook:

In [13]:
lipidcane_tea.results.table()

                           Units                Value
Fixed capital investment     USD             1.85e+08
Working capital              USD             9.25e+06
Total capital investment     USD             1.94e+08
Depreciation              USD/yr             9.25e+06
Utility cost              USD/yr            -7.03e+06
Material cost             USD/yr    63061249.60480268
Sales                     USD/yr   120148160.12683664
Labor                     USD/yr              3.5e+06
Annual operating cost     USD/yr             6.64e+07
Net present value            USD             1.81e+07
Return on investment        1/yr  0.17978132313470988
Pay back period               yr                 4.19

The complete cashflow analysis is stored as a DataFrame object:

In [14]:
lipidcane_tea.cashflow

,Depreciable capital,Working capital,Depreciation,Annual operating cost,Sales,Net earnings,Cash flow,Discounted cash flow,Cumulative cash flow
2020,7.4e+07,0,0,0,0,0,-7.4e+07,-7.4e+07,-7.4e+07
2021,1.11e+08,0,0,0,0,0,-1.11e+08,-9.44e+07,-1.68e+08
2022,0,9.25e+06,2.64e+07,6.64e+07,1.2e+08,1.77e+07,3.49e+07,2.53e+07,-1.43e+08
2023,0,0,4.53e+07,6.64e+07,1.2e+08,5.47e+06,5.08e+07,3.13e+07,-1.12e+08
2024,0,0,3.23e+07,6.64e+07,1.2e+08,1.39e+07,4.62e+07,2.43e+07,-8.76e+07
2025,0,0,2.31e+07,6.64e+07,1.2e+08,1.99e+07,4.3e+07,1.92e+07,-6.84e+07
2026,0,0,1.65e+07,6.64e+07,1.2e+08,2.42e+07,4.07e+07,1.55e+07,-5.29e+07
2027,0,0,1.65e+07,6.64e+07,1.2e+08,2.42e+07,4.07e+07,1.32e+07,-3.98e+07
2028,0,0,1.63e+07,6.64e+07,1.2e+08,2.43e+07,4.06e+07,1.12e+07,-2.86e+07
2029,0,0,8.25e+06,6.64e+07,1.2e+08,2.95e+07,3.78e+07,8.85e+06,-1.97e+07
2030,0,0,0,6.64e+07,1.2e+08,3.49e+07,3.49e+07,6.96e+06,-1.28e+07
2031,0,0,0,6.64e+07,1.2e+08,3.49e+07,3.49e+07,5.92e+06,-6.84e+06
2032,0,0,0,6.64e+07,1.2e+08,3.49e+07,3.49e+07,5.04e+06,-1.8e+06
2033,0,0,0,6.64e+07,1.2e+08,3.49e+07,3.49e+07,4.29e+06,2.49e+06
2034,0,0,0,6.64e+07,1.2e+08,3.49e+07,3.49e+07,3.65e+06,6.14e+06
2035,0,0,0,6.64e+07,1.2e+08,3.49e+07,3.49e+07,3.11e+06,9.25e+06
2036,0,0,0,6.64e+07,1.2e+08,3.49e+07,3.49e+07,2.64e+06,1.19e+07
2037,0,0,0,6.64e+07,1.2e+08,3.49e+07,3.49e+07,2.25e+06,1.41e+07
2038,0,0,0,6.64e+07,1.2e+08,3.49e+07,3.49e+07,1.92e+06,1.61e+07
2039,0,-9.25e+06,0,6.64e+07,1.2e+08,3.49e+07,4.42e+07,2.06e+06,1.81e+07

Solve for the price of a stream at the break even point:

In [15]:
feed = find('Lipid cane')
price = lipidcane_tea.solve_price(feed)
print(f'Lipid cane price = {price:.3g} USD/kg\n' )

Lipid cane price = 0.0388 USD/kg

Solve for the IRR at the break even point:

In [16]:
feed.price = 0.035
IRR = lipidcane_tea.solve_IRR()
print(f'IRR = {IRR:.3g}')

IRR = 0.196