# Techno-Economic Analysis Example

### TEA objects can perform cash flow analysis on a System object

Create a TEA object from a system:

In [1]:
import biosteam as bs
import lipidcane as lc

lc.lipidcane_sys.simulate()
lipidcane_tea = bs.TEA(lc.lipidcane_sys)
lipidcane_tea.show() # Show summary of results

TEA: lipid_cane_system
 NPV: None
 ROI: None
 PBP: None

TEA objects have a long list of options for cash flow analysis:

In [2]:
lipidcane_tea.options

{'Administration': 0.005,
 'Delivery': 0,
 'Depreciation': 'MACRS7',
 'Duration': 20,
 'Employees': 50,
 'Fringe benefits': 0.4,
 'IRR': 0.15,
 'Income tax': 0.35,
 'Land': 0,
 'Lang factor': 4.37,
 'Mantainance': 0.01,
 'Operating days': 330,
 'Other fixed capital': 0,
 'Other recurring costs': 0,
 'Property insurance': 0.005,
 'Property tax': 0.001,
 'Startup cost': 0,
 'Startup schedule': (0.4, 0.6),
 'Supplies': 0.2,
 'Wage': 50000.0,
 'Working capital': 0.05,
 'Year': None}

Update options and run cash flow analysis:

In [3]:
options = {'IRR': 0.175,
           'Lang factor': 3.00,
           'Operating days': 200,
           'Year': 2020,
           'Employees': 50,
           'Administration': 0.005,
           'Duration': 20}
lipidcane_tea.options.update(options)
lipidcane_tea.NPV() # run cash flow analysis
lipidcane_tea.show()

TEA: lipid_cane_system
 NPV: 8.14e+06 USD at 17.5% IRR
 ROI: 0.138 1/yr
 PBP: 5.14 yr

General results are stored as a dictionary:

In [4]:
lipidcane_tea.results

{'Fixed capital investment': 1.86e+08 (USD),
 'Working capital': 9.31e+06 (USD),
 'Total capital investment': 1.95e+08 (USD),
 'Depreciation': 9.31e+06 (USD/yr),
 'Utility cost': -1.49e+07 (USD/yr),
 'Material cost': 6.24e+07 (USD/yr),
 'Sales': 1.06e+08 (USD/yr),
 'Labor': 2.5e+06 (USD/yr),
 'Annual operating cost': 6.47e+07 (USD/yr),
 'Net present value': 8.14e+06 (USD),
 'Return on investment': 0.138 (1/yr),
 'Pay back period': 5.14 (yr)}

The complete cashflow analysis is stored as a DataFrame object:

In [5]:
lipidcane_tea.cashflow

,Depreciable capital,Working capital,Depreciation,Annual operating cost (excl. depr.),Sales,Net earnings,Cash flow,Discounted cash flow,Cumulative cash flow
2020,7.45e+07,0,0,0,0,0,-7.45e+07,-7.45e+07,-7.45e+07
2021,1.12e+08,0,0,0,0,0,-1.12e+08,-9.51e+07,-1.7e+08
2022,0,9.31e+06,2.66e+07,5.54e+07,1.06e+08,1.56e+07,3.29e+07,2.39e+07,-1.46e+08
2023,0,0,4.56e+07,5.54e+07,1.06e+08,3.31e+06,4.89e+07,3.01e+07,-1.16e+08
2024,0,0,3.26e+07,5.54e+07,1.06e+08,1.18e+07,4.43e+07,2.33e+07,-9.23e+07
2025,0,0,2.32e+07,5.54e+07,1.06e+08,1.78e+07,4.11e+07,1.83e+07,-7.39e+07
2026,0,0,1.66e+07,5.54e+07,1.06e+08,2.21e+07,3.88e+07,1.47e+07,-5.92e+07
2027,0,0,1.66e+07,5.54e+07,1.06e+08,2.21e+07,3.88e+07,1.25e+07,-4.67e+07
2028,0,0,1.66e+07,5.54e+07,1.06e+08,2.21e+07,3.88e+07,1.07e+07,-3.6e+07
2029,0,0,8.3e+06,5.54e+07,1.06e+08,2.75e+07,3.58e+07,8.4e+06,-2.76e+07
2030,0,0,0,5.54e+07,1.06e+08,3.29e+07,3.29e+07,6.57e+06,-2.1e+07
2031,0,0,0,5.54e+07,1.06e+08,3.29e+07,3.29e+07,5.59e+06,-1.54e+07
2032,0,0,0,5.54e+07,1.06e+08,3.29e+07,3.29e+07,4.76e+06,-1.07e+07
2033,0,0,0,5.54e+07,1.06e+08,3.29e+07,3.29e+07,4.05e+06,-6.63e+06
2034,0,0,0,5.54e+07,1.06e+08,3.29e+07,3.29e+07,3.44e+06,-3.19e+06
2035,0,0,0,5.54e+07,1.06e+08,3.29e+07,3.29e+07,2.93e+06,-2.55e+05
2036,0,0,0,5.54e+07,1.06e+08,3.29e+07,3.29e+07,2.5e+06,2.24e+06
2037,0,0,0,5.54e+07,1.06e+08,3.29e+07,3.29e+07,2.12e+06,4.36e+06
2038,0,0,0,5.54e+07,1.06e+08,3.29e+07,3.29e+07,1.81e+06,6.17e+06
2039,0,-9.31e+06,0,5.54e+07,1.06e+08,3.29e+07,4.22e+07,1.97e+06,8.14e+06

Solve for the price of a stream at the break even point:

In [6]:
feed = bs.find('Lipid cane')
price = lipidcane_tea.solve_price(feed)
print(f'Lipid cane price = {price:.3g} USD/kg\n' )

Lipid cane price = 0.0363 USD/kg

Solve for the IRR at the break even point:

In [7]:
feed.price = 0.035
IRR = lipidcane_tea.solve_IRR()
print(f'IRR = {IRR:.3g}')

IRR = 0.182