# Techno-economic analysis of a biorefinery

### Perform cash flow analysis

Create a TEA object from a system:

In [1]:
import biosteam as bs
import lipidcane as lc

lc.lipidcane_sys.simulate()
lipidcane_tea = bs.TEA(lc.lipidcane_sys)
lipidcane_tea.show() # Show summary of results

TEA: lipid_cane_system
 NPV: None
 ROI: None
 PBP: None

TEA objects have a long list of options for cash flow analysis:

In [2]:
lipidcane_tea.options

{'Lang factor': 4.37,
 'Operating days': 330,
 'IRR': 0.15,
 'Wage': 50000.0,
 'Year': None,
 'Employees': 50,
 'Fringe benefits': 0.4,
 'Income tax': 0.35,
 'Property tax': 0.001,
 'Property insurance': 0.005,
 'Duration': 20,
 'Supplies': 0.2,
 'Mantainance': 0.01,
 'Administration': 0.005,
 'Working capital': 0.05,
 'Startup cost': 0,
 'Land': 0,
 'Depreciation': 'MACRS7',
 'Startup schedule': (0.4, 0.6),
 'Other recurring costs': 0,
 'Other fixed capital': 0}

Update options and run cash flow analysis:

In [3]:
options = {'IRR': 0.175,
           'Lang factor': 3.00,
           'Operating days': 200,
           'Year': 2020,
           'Employees': 50,
           'Administration': 0.005,
           'Duration': 20}
lipidcane_tea.options.update(options)
lipidcane_tea.NPV() # run cash flow analysis
lipidcane_tea.show()

TEA: lipid_cane_system
 NPV: 1.26e+07 USD at 17.5% IRR
 ROI: 0.143 1/yr
 PBP: 5 yr

Retrieve general results:

In [4]:
lipidcane_tea.results()

                           Units               Value
Fixed capital investment     USD            1.81e+08
Working capital              USD            9.04e+06
Total capital investment     USD             1.9e+08
Depreciation              USD/yr            9.04e+06
Utility cost              USD/yr           -1.49e+07
Material cost             USD/yr   62411869.60486618
Sales                     USD/yr  106078904.28890917
Labor                     USD/yr             2.5e+06
Annual operating cost     USD/yr            6.43e+07
Net present value            USD            1.26e+07
Return on investment        1/yr  0.1429262441947507
Pay back period               yr                   5

The complete cashflow analysis is stored as a DataFrame object:

In [5]:
lipidcane_tea.cashflow

,Depreciable capital,Working capital,Depreciation,Annual operating cost (excl. depr.),Sales,Net earnings,Cash flow,Discounted cash flow,Cumulative cash flow
2020,7.23e+07,0,0,0,0,0,-7.23e+07,-7.23e+07,-7.23e+07
2021,1.08e+08,0,0,0,0,0,-1.08e+08,-9.23e+07,-1.65e+08
2022,0,9.04e+06,2.58e+07,5.53e+07,1.06e+08,1.62e+07,3.3e+07,2.39e+07,-1.41e+08
2023,0,0,4.43e+07,5.53e+07,1.06e+08,4.23e+06,4.85e+07,2.99e+07,-1.11e+08
2024,0,0,3.16e+07,5.53e+07,1.06e+08,1.25e+07,4.41e+07,2.31e+07,-8.77e+07
2025,0,0,2.26e+07,5.53e+07,1.06e+08,1.83e+07,4.09e+07,1.83e+07,-6.94e+07
2026,0,0,1.61e+07,5.53e+07,1.06e+08,2.25e+07,3.87e+07,1.47e+07,-5.48e+07
2027,0,0,1.61e+07,5.53e+07,1.06e+08,2.25e+07,3.87e+07,1.25e+07,-4.23e+07
2028,0,0,1.61e+07,5.53e+07,1.06e+08,2.25e+07,3.87e+07,1.06e+07,-3.16e+07
2029,0,0,8.06e+06,5.53e+07,1.06e+08,2.78e+07,3.58e+07,8.39e+06,-2.32e+07
2030,0,0,0,5.53e+07,1.06e+08,3.3e+07,3.3e+07,6.58e+06,-1.66e+07
2031,0,0,0,5.53e+07,1.06e+08,3.3e+07,3.3e+07,5.6e+06,-1.1e+07
2032,0,0,0,5.53e+07,1.06e+08,3.3e+07,3.3e+07,4.77e+06,-6.27e+06
2033,0,0,0,5.53e+07,1.06e+08,3.3e+07,3.3e+07,4.06e+06,-2.21e+06
2034,0,0,0,5.53e+07,1.06e+08,3.3e+07,3.3e+07,3.45e+06,1.24e+06
2035,0,0,0,5.53e+07,1.06e+08,3.3e+07,3.3e+07,2.94e+06,4.18e+06
2036,0,0,0,5.53e+07,1.06e+08,3.3e+07,3.3e+07,2.5e+06,6.68e+06
2037,0,0,0,5.53e+07,1.06e+08,3.3e+07,3.3e+07,2.13e+06,8.81e+06
2038,0,0,0,5.53e+07,1.06e+08,3.3e+07,3.3e+07,1.81e+06,1.06e+07
2039,0,-9.04e+06,0,5.53e+07,1.06e+08,3.3e+07,4.21e+07,1.96e+06,1.26e+07

### Find operating cost, price, and IRR

Find production cost:

In [6]:
lipidcane_tea.operating_cost(bs.find('Ethanol'), bs.find('Biodiesel'))

array([28621941.958, 35709670.073])

Solve for the price of a stream at the break even point:

In [7]:
feed = bs.find('Lipid cane')
price = lipidcane_tea.solve_price(feed)
print(f'Lipid cane price = {price:.3g} USD/kg\n' )

Lipid cane price = 0.0372 USD/kg

Solve for the IRR at the break even point:

In [8]:
feed.price = 0.035
IRR = lipidcane_tea.solve_IRR()
print(f'IRR = {IRR:.3g}')

IRR = 0.188

### System report

Save stream tables, utility requirements, itemized costs, TEA results, and a cash flow table:

In [9]:
lc.lipidcane_sys.save_report('Lipidcane report.xlsx') # Try this on your computer and open excel